__pycache__
.vscode/settings.json
settings.json
Traces CRAWDAD/SetupA.txt
Traces CRAWDAD/SetupB.txt
Traces CRAWDAD/SetupC.txt
Traces CRAWDAD/SetupD.txt
Traces CRAWDAD/SetupE.txt
Traces CRAWDAD/SetupF.txt